@charset "UTF-8";
/**
 *
 * @authors 陈小雪 (shell_chen@yeah.net)
 * @date    2016-01-14 11:11:02
 * @version $Id$
 */
#main{
    margin-top: 10px;
}
.filename-input{
    margin-bottom: 10px;
}
#mode{
    display: none;
}

.btn-checkbox{
    width: 8%;
    margin: 5px 1% 5px 1%;
    text-align: left;
}

.check-btn{
    border-color: #3c763d;
}
.align-right{
    text-align: right;
}
a.collapse-header{
    width: 100%;
    display: inline;
}
#drawing{
    position: absolute;
    right: 20px;
    top: 5px;
}
